asgiref==3.7.2
bootstrap4==0.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
crispy-bootstrap4==2024.1
dj-database-url==2.3.0
Django==5.0.3
django-crispy-forms==2.1
django-heroku==0.3.1
django-pandas==0.6.6
django-resized==1.0.2
django-tinymce==3.7.1
gunicorn==21.2.0
idna==3.6
mysqlclient==2.2.6
numpy==1.26.4
packaging==23.2
pandas==2.2.3
pillow==10.2.0
plotly==5.24.1
psycopg2==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.31.0
requests-toolbelt==1.0.0
six==1.17.0
sqlparse==0.4.4
tenacity==9.0.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.8.2