{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="content_section">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom pd-2 mb-4 text-center">Login Form</legend>
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="{{ form.username.id_for_label }}" value="{{ form.username.value }}">
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="{{ form.password.id_for_label }}" value="{{ form.password.value }}">
            </div>
        </fieldset>
        <div class="form-group pt-4">
            <button type="submit" class="btn btn-outline-success">Login</button>
        </div>
    </form>
</div>
{% endblock %}
