{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%if title %}
  <title>IMS:{{title}}</title>
  {% else %}
  <title>IMS</title>
  {% endif %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Stock Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'inventory' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'add_inventory' %}">Add Inventory</a>
          </li>
          
          <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Inventory Dashboard</a>
          </li>

          <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="{% url 'sales_summary' %}">Sales Report</a>
          </li>
          
          <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="{% url 'return_summary' %}">Returns Report</a>
          </li>

        
          
          
        </ul>
        <form method="post" action="{% url 'logout' %}" class="d-flex">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link nav-link"
                    style="padding: 0; border: none; background: none; color: white; text-decoration: none;">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                  </button>
                </form>
      </div>
    </div>
  </nav>




  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-12 col-xm-12">

          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}}" mt-4>
            {{message}}
          </div>
          {% endfor %}

          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-md-1"></div>

      </div>

    </div>
  </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

 
</body>

</html>